[submodule "cuttlebone"]
	path = cuttlebone
	url = https://github.com/rbtsx/cuttlebone.git
[submodule "AlloSystem"]
	path = AlloSystem
	url = https://github.com/AlloSphere-Research-Group/AlloSystem.git
[submodule "Gamma"]
	path = Gamma
	url = https://github.com/AlloSphere-Research-Group/Gamma
